In [25]:
import pandas as pd

df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [26]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [27]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [28]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [29]:
X = df.drop('Outcome', axis = 'columns')
y = df.Outcome

In [30]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415]])

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y, stratify = y, random_state = 10)

In [34]:
X_train.shape

(576, 8)

In [36]:
X_test.shape

(192, 8)

In [37]:
y_train.value_counts()

0    375
1    201
Name: Outcome, dtype: int64

In [38]:
201/375

0.536

In [41]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

scores = cross_val_score(DecisionTreeClassifier(), X, y, cv = 5)
scores

array([0.71428571, 0.66883117, 0.73376623, 0.80392157, 0.7254902 ])

In [42]:
scores.mean()

0.7292589763177999

In [44]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples = 0.8,
    oob_score = True,
    random_state = 0
)

bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.7534722222222222

In [46]:
bag_model.score(X_test, y_test)

0.7760416666666666

In [48]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples = 0.8,
    oob_score = True,
    random_state = 0
)

scores = cross_val_score(bag_model, X, y, cv=5)
scores.mean()

0.7578728461081402

In [50]:
from sklearn.ensemble import RandomForestClassifier

scores = cross_val_score(RandomForestClassifier(), X,y,cv=5)
scores.mean()

0.7617689500042442

In [51]:
#Exercise

In [53]:
import pandas as pd
df=  pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [55]:
df = df[(df.Age <=(df.Age.mean()+3*df.Age.std()))]
df = df[(df.Age >=(df.Age.mean()-3*df.Age.std()))]

In [56]:
df = df[(df.MaxHR <=(df.MaxHR.mean()+3*df.MaxHR.std()))]
df = df[(df.MaxHR >=(df.MaxHR.mean()-3*df.MaxHR.std()))]

In [57]:
df = df[df.FastingBS<=(df.FastingBS.mean()+3*df.FastingBS.std())]
df = df[df.FastingBS>=(df.FastingBS.mean()-3*df.FastingBS.std())]

In [59]:
df = df[df.Oldpeak<=(df.Oldpeak.mean()+3*df.Oldpeak.std())]
df = df[df.Oldpeak>=(df.Oldpeak.mean()-3*df.Oldpeak.std())]

In [63]:
df = df[df.RestingBP<=(df.RestingBP.mean()+3*df.RestingBP.std())]
df = df[df.RestingBP>=(df.RestingBP.mean()-3*df.RestingBP.std())]

In [64]:
df = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df = df[df.Cholesterol>=(df.Cholesterol.mean()-3*df.Cholesterol.std())]

In [65]:
df.shape

(890, 12)

In [68]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [71]:
dfle = df
dfle.Sex = le.fit_transform(dfle.Sex)
dfle.ChestPainType = le.fit_transform(dfle.ChestPainType)
dfle.ExerciseAngina = le.fit_transform(dfle.ExerciseAngina)
dfle.ST_Slope = le.fit_transform(dfle.ST_Slope) # takes the label column and encodes it

dfle.RestingECG = le.fit_transform(dfle.RestingECG) # takes the label column and encodes it

df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [75]:
from sklearn.preprocessing import StandardScaler

y =  df.HeartDisease
df.drop('HeartDisease',axis = 1, inplace = True)
scaler = StandardScaler()
X_scaled = scaler.fit_transform(df)
X_scaled[:3]

array([[-1.42080374,  0.51750002,  0.21591783,  0.47443335,  0.85255906,
        -0.55225478,  0.01610461,  1.38009411, -0.81458664, -0.86094921,
         1.04250474],
       [-0.46733206, -1.93236709,  1.26030298,  1.6535612 , -0.16720266,
        -0.55225478,  0.01610461,  0.74852487, -0.81458664,  0.16825804,
        -0.64139584],
       [-1.73862764,  0.51750002,  0.21591783, -0.11513057,  0.79642539,
        -0.55225478,  1.60867177, -1.54091364, -0.81458664, -0.86094921,
         1.04250474]])

In [78]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.1)

In [85]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

scores = cross_val_score(SVC(), df, y, cv=5)
scores.mean()

0.6876404494382022

In [82]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=SVC(),
    n_estimators=100,
    max_samples = 0.8,
    oob_score = True,
    random_state = 0
)

bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.8701622971285893